@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;1,200&family=Exo:ital,wght@0,300;0,600;1,300;1,600&display=swap');

/* Background */

    body {
        background-color: rgba(104, 22, 22, 0.795);
    }



/* Header */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        background-color: darkgrey;
        margin: 4%;
        border-radius: 12px;
        margin: 4em 4em 0 4em;
        margin: fixed;
    }

    header :hover {
        animation-name: headerColorSwitcher;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: reverse;
        animation-timing-function: linear; 
    }

    @keyframes headerColorSwitcher {
        10% {
            background: darkgrey;
        }
        80% {
            background: rgba(22, 104, 40, 0.795);
        }
    }


    .header h1 {
        font-family: 'Exo 2', sans-serif;
        font-size: 160%;
        margin: auto;
        text-align: center;
        padding-top: 1px;
        padding-bottom: 2px;
        border-radius: 12px;
    }


/* Timer */
  #timer {
    font-family: 'Exo 2', sans-serif;
    font-size: 70%;
    margin: auto;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 2px;
    border-radius: 12px; 
   }
/* Buttons */
    .buttons {
        font-family: 'Exo 2', sans-serif;
        font-size: 250%;
        text-align: center;
        padding-top: 21px;
        margin: 0 1em 0 1em;
        margin: fixed;

    }


    .buttons button {
        font-family: 'Exo 2', sans-serif;
        padding: 3px;
        border-radius: 0.5em;
        font-size: 50%;
        margin-top: 21px;
    }

/* Buttons Color */
@keyframes toggleColorSwitcher {
    10% {
        background: darkgrey;
    }
    80% {
        background: rgba(22, 104, 40, 0.795);
    }
}

@keyframes resetColorSwitcher {
    10% {
        background: darkgrey;
    }
    80% {
        background: rgba(104, 22, 22, 0.795);
    }
}

@keyframes splitColorSwitcher {
    10% {
        background: darkgrey;
    }
    80% {
        background: rgba(104, 71, 22, 0.795);
    }
}

    #toggle:hover {
        cursor: pointer;
        animation-name: toggleColorSwitcher;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: reverse;
        animation-timing-function: linear; 
        
    }

    #reset:hover {
        cursor: pointer;
        animation-name: resetColorSwitcher;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: reverse;
        animation-timing-function: linear; 
        
    }

    #split:hover {
        cursor: pointer;
        animation-name: splitColorSwitcher;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: reverse;
        animation-timing-function: linear; 
        
    }

    #splitLogReset:hover {
        cursor: pointer;
        animation-name: splitColorSwitcher;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: reverse;
        animation-timing-function: linear; 
        
    }

/* Split Log */

    .split-log {
        font-family: 'Exo 2', sans-serif;
        font-size: 80%;
        padding-top: 21px;
        margin: 0 1em 0 1em;
    }


    .split-log div {
        text-align: center;
        margin: 12px;
    }

    .split-log div h1, h2, h3 {
        display: inline;
        margin: 2em;
    }

    .split-log div h1 {
        margin: 2em;
    }

    .split-log div h2 {
        margin: 2em;
    }
